<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net46" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net46" />
  <package id="LibLog" version="4.2.6" targetFramework="net46" developmentDependency="true" />
  <package id="Matrixden.SAK.Extensions" version="3.3.2402.192" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
</packages>