<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="RESPONSE_MESSAGE_FAIL_DEFAULT" value="服务器暂时开小差了, 请稍后再试. Seems the server cannot response you right now, please try again later."/>
    <add key="RESPONSE_MESSAGE_FAIL_DEFAULT_JSON" value="{'message':'服务器暂时开小差了, 请稍后再试. Seems the server cannot response you right now, please try again later.'}"/>
    <add key="GlobalTimeoutInMilliseconds" value="60000"/>
    <add key="GlobalHttpHeader_Referer" value="http://erp.xunmall.com/Cashier"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
